.footer {
  padding: 20px 20px 0 20px;
  background-color: #4e0097;
  margin-top: 30px;
  margin-bottom: 0px;
  color: white;
  bottom: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .card-hotel {
    max-width: 300px;
  }

  .about {
    max-width: 30%;
  }
}
.card-hotel {
  margin-top: 20px;
  margin-bottom: 0;
  flex: 1 200px;
}

.btn-reserva {
  width: 100%;
  background-color: #6f1fb9;
  border-radius: 0px;
  color: white;
}

.btn-reserva:active, .btn-reserva:hover, .btn-reserva:focus {
  background-color: #4e0097 !important;
  box-shadow: 0;
  color: white;
}

.icon-padding {
  padding-right: 8px;
}

.parallax-one {
  padding-top: 140px;
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://www.itl.cat/pngfile/big/233-2335535_kurzgesagt-universe.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.breadcrumb {
  margin-top: 30px;
  margin-bottom: 0;
}

.titulo {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 80px;
}

.botonesCollapse {
  width: 100%;
  flex: 1 200px;
}

.cardsCollapse {
  width: 100%;
  flex: 1 200px;
  background-color: #4e0097;
}

.demo_wrap {
  position: relative;
  padding: 16px;
  overflow: hidden;
  border: 1px dashed #4e0097;
}

.demo_wrap .texto-card {
  padding: auto;
  position: relative;
  z-index: 2;
}

.demo_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.navbar-custom {
  background-color: rgba(78, 0, 151, 0.925);
}

.navbar-custom .navbar-brand {
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-size: x-large;
}

.navbar-custom .navbar-nav .nav-link {
  color: #e6e4e4;
  font-size: larger;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
  font-weight: bolder;
}

.carousel-inner .carousel-item img {
  opacity: 0.6;
  max-height: 450px;
  object-fit: cover;
}

.carousel-inner .carousel-item {
  background-color: black;
}

/*# sourceMappingURL=styles.css.map */
